@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}
body {
    font-family: "Ubuntu", sans-serif;
    background-color: black;
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.head {
    text-align: center;
}
.head h3 {
    font-size: 80px;
    color: #777;
    text-transform: capitalize;
    font-family: "Shadows Into Light", cursive;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}
/* header */
header {
    background-color: #504c4c;
    position: relative;
}
.bar {
    position: absolute;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 222;
}
@media(min-width:767px) {
    .bar {
        display: none;
    }
}
.bar i {
    color: #ffffff;
    transition: .3s;
}
.bar i:hover {
    color: #ff0030;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo a {
    color: red;
    font-size: 30px;
    font-family: "Shadows Into Light", cursive;
    text-transform: capitalize;
    transition: .3s;
    padding: 10px 0;
    display: block;
}
header .container h2 {
    z-index: 222;
}
header .container .logo a:hover {
    color: #ffffff;
}
header .container ul {
    display: flex;
}
@media(max-width:767px) {
    header .container ul {
        position: absolute;
        top: -400px;
        opacity: 0;
        left: 0px;
        flex-direction: column;
        background-color: #504c4c;
        width: 100%;
        padding: 20px;
        transition: .4s;
    }
}
@media(max-width:767px) {
    header .container .list {
        position: absolute;
        /* z-index: -1; */
        top: 62px;
        opacity: 1;
        left: 0px;
        flex-direction: column;
        background-color: #504c4c;
        width: 100%;
        padding: 20px;
    }
}
header .container ul a {
    margin-left: 15px;
    font-size: 25px;
    color: #ffffff;
    transition: .3s;
    font-family: "Shadows Into Light", cursive;
    text-transform: capitalize;
}
@media(max-width:767px) {
    header .container ul a {
        display: block;
        margin: 5px 0;
    }
    header .container ul a:hover {
        padding-left: 10px;
    }
}
header .container ul .active {
    color: red;
}
header .container ul a:hover {
    color: #ff0030;
}
/* header */

/* landing */
.landing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}
@media(max-width:767px) {
    .landing .container {
        margin-top: 200px;
        display: flex;
        flex-direction: column-reverse;
        z-index: -22;
        padding: 0;
    }
}
.landing .container .text {
    max-width: 500px;
}
.landing .container .text p {
    color: #ff0030;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}
.landing .container .text h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.landing .container .text span {
    letter-spacing: 2px;
    line-height: 1.5;
}
.landing .container .text a {
    display: block;
    padding: 10px 25px;
    width: 140px;
    border: 2px solid #ff0030;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    transition: .3s;
}
.landing .container .text a:hover {
    background-color: #ff0030;
    transform: scale(.9);
    box-shadow: 0 0 10px red;
}
.landing .image {
    display: flex;
}
.landing img {
    max-width: 100%;
    transform: translateX(70px);
}
@media(max-width:767px) {
    .landing img {
            transform: translateX(0px);
            margin-bottom: 60px;
        }
        .landing .container .text {
            text-align: center;
            padding: 0 20px;
        }
        .landing .container .text a {
            margin: 20px auto;
        }
}
/* landing */
/* services */
.services {
    padding: 100px 0;
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    gap: 30px;
    margin-top: 60px;
}
.services .box {
    box-sizing: border-box;
    height: 200px;
    background: rgba(217, 217, 217, 0.58);
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}
.services .container .box p {
    color: rgba(0, 0, 0, 0.651);
    font-size: 22px;
}
.services .box:hover {
    border: 1px solid red;
    transform: scale(1.05);
}

.services .box:active {
    transform: scale(0.95) rotateZ(1.7deg);
}
/* services */
/* projects  */
.projects {
    margin: 100px 0;
}
.projects .container {
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(270px, 1fr));
    gap: 30px;
}
.projects .box {
    background-color: #6e656530;
    /* padding: 20px; */
    text-align: center;
    /* padding: 20px 0; */
    border-radius: 20px;
}
.projects .image {
    /* width: 100%; */
    overflow: hidden;
    position: relative;
}
.projects img {
    max-width: 300px;
    width: 100%;
    height: 300px;
    transition: .3s;
}
.projects .box:hover img {
    transform: scale(1.1);
}
.projects .container .content {
    padding: 10px 0;
}
.projects .container .content h3 {
    font-size: 25px;
    text-transform: capitalize;
    padding: 10px 0;
}
.projects .container .content p {
    font-size: 20px;
    text-transform: capitalize;
}
.projects .container .content a {
    text-transform: uppercase;
    display: block;
    background-color: #ff0030;
    width: 130px;
    margin: 15px auto 0 auto;
    padding: 14px 0;
    border-radius: 5px;
    transition: .3s;
}
.projects .container .content a:hover {
    background-color: #000;
    box-shadow: 0 0 10px red;
}
/* projects  */
/* contact  */
.contact {
    padding-bottom: 100px;
}
@media(max-width:767px) {

    .contact .head h3 {
        padding: 0 10px;
        letter-spacing: -2px;
    }
}
.contact .head {
    margin-bottom: 100px;
}
/* From Uiverse.io by MijailVillegas */
.contact .container .card {
    max-width: 400px;
    border-radius: 15px;
    margin:  0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    backdrop-filter: blur(15px);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
        inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
    transition: 0.5s;
}

.contact .container .card:hover {
    animation: ease-out 5s;
    background: rgba(173, 173, 173, 0.05);
}

.contact .container .card ul {
    padding: 1rem;
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.contact .container .card ul li {
    cursor: pointer;
}

.contact .container .svg {
    transition: all 0.3s;
    /* if you find some problems change w - h : 30px*/
    padding: 1rem;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    color: rgb(255, 174, 0);
    fill: currentColor;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
        inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
}

.contact .container .text {
    opacity: 0;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s;
    color: rgb(255, 174, 0);
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 9999;
    box-shadow: -5px 0 1px rgba(153, 153, 153, 0.2),
        -10px 0 1px rgba(153, 153, 153, 0.2),
        inset 0 0 20px rgba(255, 255, 255, 0.3),
        inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.082);
}

/*isometric prooyection*/
.contact .container .iso-pro {
    transition: 0.5s;
}

.contact .container .iso-pro:hover a>.svg {
    transform: translate(15px, -15px);
    border-radius: 100%;
}

.iso-pro:hover .text {
    opacity: 1;
    transform: translate(25px, -2px) skew(-5deg);
}

.contact .container .iso-pro:hover .svg {
    transform: translate(5px, -5px);
}

.contact .container .iso-pro span {
    opacity: 0;
    position: absolute;
    color: #1877f2;
    border-color: #1877f2;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
        inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
    border-radius: 50%;
    transition: all 0.3s;
    height: 60px;
    width: 60px;
}

.contact .container .iso-pro:hover span {
    opacity: 1;
}

.contact .container .iso-pro:hover span:nth-child(1) {
    opacity: 0.2;
}

.contact .container .iso-pro:hover span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
}

.contact .container .iso-pro:hover span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
}
/* contact  */
/* footer  */
footer {
    border-top: 1px solid #ff002f6c;
    padding: 20px 0;
}
footer .container {
    text-align: center;
}
footer .container a {
    color: #ff0030;
    text-transform: capitalize;
}
/* footer  */